---
layout: none
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
{% include head.html %}
<body id="www-bugzilla-org">
  {% include header.html type="jumbo" %}
  {% include header.html type="sticky" %}
  <main id="bugzilla-body">
    <div class="bg-bugzilla pb-3 pt-5 border-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-5 mb-3">
            <h2>The server software designed to help you manage software development</h2>
            <div>
              <a class="btn btn-light" href="./about/">Learn more &raquo;</a>
              <a class="btn btn-light" href="https://bugzilla-dev.allizom.org/">Try it out &raquo;</a>
            </div>
          </div>
          <div class="col-md-7 mb-3">
            <img class="w-100 rounded" src="/assets/img/screenshot.svg">
          </div>
        </div>
      </div>
    </div>

    <section class="py-4">
      <div class="container">
        <h2>News</h2>
        <div class="row">
        {% for post in site.posts limit:3 %}
          <div class="col-md-4 mb-3">
            <div class="card card-body h-100">
              <p class="text-muted mb-1">{{ post.date | date: '%d. %B %Y' }}</p>
              <a href="news/#{{ post.id }}"><h5>{{ post.title }}</h5></a>
              <p>{{ post.content | strip_html | truncate: 200 }}</p>
            </div>
          </div>
        {% endfor %}
        </div>
        <div class="d-flex justify-content-end">
          <a class="btn btn-primary" href="/news/">More news &raquo;</a>
        </div>
      </div>
    </section>

    <section class="py-4">
      <div class="container">
        <div class="row col-md-8 mx-auto">
          <div class="col-md-6 my-auto h2">Performant, scalable and secure</div>
          <div class="col-md-6 my-auto text-justify">Tried and tested by the largest in open source, so you don't have to deal with frustrating breaks in workflow.</div>
        </div>
      </div>
    </section>
    <section class="py-4">
      <div class="container">
        <p><b><a href="./features/">View complete list of features</a> &raquo;</b></p>

        <h2>Benefits</h2>
        <ul>
          <li>Improve communication</li>
          <li>Increase product quality</li>
          <li>Improve customer satisfaction</li>
          <li>Ensure accountability</li>
          <li>Increase productivity</li>
          <li>Bugzilla can adapt to multiple situations</li>
        </ul>
      </div>
    </section>

    <section class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-2">
            <h2>Bugzilla in Action</h2>
            <p class="text-justify">The following open source companies and projects trusted Bugzilla and continue to use it for delivering their software to the customers and communities all around the world.</p>
            <a class="btn btn-primary" href="/installation-list/">See who else uses Bugzilla &raquo;</a>
          </div>
          <div class="col-md-8 mb-2">
            <div class="d-flex flex-wrap justify-content-around">
            {% assign by-featured = site.data.installation-list | sort: 'featured' %}
            {% for project in by-featured %}
              {% if project.featured %}
                <a href="{{ project.bzurl }}" title="{{ project.name }}" class="btn mb-4">
                    {% include free-software-logos/{{ project.logo }} %}
                    <span class="sr-only">{{ project.name }}</span>
                </a>
              {% endif %}
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  {% include footer.html %}
</body>
</html>
