---
title: "Installation List"
permalink: /installation-list/
---

{% assign list = site.data.installation-list %}

<h1>Installation List</h1>

<p>A large number of companies, organizations, and projects use Bugzilla. 
   This page showcases a few particularly high-profile or otherwise interesting 
   installations, and also contains a list of public Bugzillas.</p>

{% assign by-featured = list | sort: 'featured' %}

<h2>Free Software Projects</h2>
<ul>
{%- for item in by-featured %}
  {%- if item.cat == 'oss' %}
    <li>{{ item.name }}: <a href="{{ item.bzurl }}">{{ item.bzurl }}</a></li>
  {% endif -%}
{% endfor -%}
</ul>

<h2>Linux Distributions</h2>
<ul>
{%- for item in by-featured %}
  {%- if item.cat == 'distro' %}
    <li>{{ item.name }}: <a href="{{ item.bzurl }}">{{ item.bzurl }}</a></li>
  {% endif -%}
{% endfor -%}
</ul>

<h2>Full List</h2>

<p>This page lists the {{ list.size }}
companies, organizations, and projects
that we know of who are running "public" Bugzilla installations. A public
installation is one whose front or login page can be viewed over the
Internet. This is, of course, only a small fraction of the Bugzilla
installations out there - there are probably at least 10 times as many
private ones. We used to track those too, but we found spammers
were trying to use this page for SEO :-(.</p>

<p>If you or your company are using Bugzilla, your installation is "public" in
the sense defined above, and you would like to be listed, please mail
<a href="mailto:justdave&#64;bugzilla.org?subject=Bugzilla%20Installation%20List">Dave</a>.
You can also file a pull request against <a href="https://github.com/bugzilla/bugzilla.github.io/tree/master/installation-list">the GitHub repo</a> (this is preferred).
<!-- XXX This date should be dynamic -->
(This list was last updated on March 2nd, 2020;
<a href="https://github.com/bugzilla/bugzilla.github.io/commits/master/_data/installation-list.csv">history</a>).</p>

{% assign by-name = list | sort: 'name' %}

{% for item in by-name %}
  {% if item.orgurl %}
      <a href="{{ item.orgurl }}">{{ item.name }}</a>
  {% else %}
      {{ item.name }}
  {% endif %}
  {% if item.bzurl %}
        (<a href="{{ item.bzurl }}">Bugzilla</a>)
  {% endif %}
  <br>
{% endfor %}
