<head>
  <title>{{ page.title }} :: Bugzilla :: bugzilla.org</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="keywords" content="bugzilla bug track tracking enterprise solution">
  <link rel="icon" href="/assets/img/bugzilla_icon.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="/assets/css/print.css" media="print">
  <link rel="stylesheet" type="text/css" href="/assets/css/base/content.css" media="all">
  <link rel="stylesheet" type="text/css" href="/assets/css/cavendish/content.css" title="Cavendish" media="all">
  <link rel="stylesheet" type="text/css" href="/assets/css/base/template.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/assets/css/bugzilla.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/assets/css/cavendish/home.css" title="Cavendish" media="screen">
</head>
