<header class="navbar navbar-expand-lg navbar-dark user-select-none bg-dark {{page.header.class}}">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img id="header-logo" class="mr-1" src="/assets/img/logo-header.svg" {% if page.header.big %}width="64" height="96"{% else %}width="32" height="48"{% endif %}>
      <span id="header-name" class="{% if page.header.big %}h2{% else %}h4{% endif %} m-0">Bugzilla</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        {% for item in site.data.nav %}
          {% if item.links %}
          {% assign current = false %}
          {% for link in item.links %}
            {% if link.link == page.url %}
              {% assign current = true %}
            {% endif %}
          {% endfor %}
          {% if item.link == page.url %}
            {% assign current = true %}
          {% endif %}
          <li class="nav-item dropdown{% if current == true %} active{% endif %}">
            <a class="nav-link dropdown-toggle" {% if item.title %}title="{{ item.title }}"{% endif %} href="{% if item.link %}{{ item.link }}{% else %}#{% endif %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ item.name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for link in item.links %}
              <a {% if link.title %}title="{{ link.title }}"{% endif %} class="dropdown-item" href="{{ link.link }}">{{ link.name }}{% if link.link == page.url %} <span class="sr-only">(current)</span>{% endif %}</a>
              {% endfor %}
            </div>
          </li>
          {% else %}
          <li class="nav-item{% if item.link == page.url %} active{% endif %}">
            <a class="nav-link" {% if item.title %}title="{{ item.title }}"{% endif %} href="{{ item.link }}">{{ item.name }}{% if item.link == page.url %} <span class="sr-only">(current)</span>{% endif %}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      <form class="form-inline my-2 my-lg-0" role="search" method="get" action="https://www.google.com/cse">
        <span class="sr-only">Search bugzilla.org</span>
        <input type="hidden" name="cx" value="008043952663535741821:9whwb87ip5a">
        <span class="icon"></span>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q" aria-label="Search">
      </form>
    </div>
  </div>
</header>
{% if page.breadcrumbs %}
<nav class="breadcrumb rounded-0 overflow-auto" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb m-0 p-0 flex-nowrap">
      {% for breadcrumb in page.breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.link }}">{{ breadcrumb.name }}</a></li>
      {% endfor %}
      <li class="breadcrumb-item active text-nowrap pr-3" aria-current="page">{{ page.title }}</li>
    </ol>
  </div>
</nav>
{% endif %}
