<head>
  <title>{% if page.title != True %}{{ page.title }} - {% endif %}Bugzilla</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="keywords" content="bugzilla bug track tracking enterprise solution">
  <link rel="icon" href="/assets/favicon/favicon.ico" type="image/ico">
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-dark.css" media="screen and (prefers-color-scheme: dark)"/>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  {% for addon in page.addons %}
    {% case addon.type %}
    {% when 'js' %}
      <script src="{{ addon.link }}"></script>
    {% when 'css' %}
      <link rel="stylesheet" type="text/css" href="{{ addon.link }}" {% if addon.media %}media="{{ addon.media }}"{% endif %}>
    {% endcase %}
  {% endfor %}
</head>
