<head>
  <title>{% if page.title != True %}{{ page.title }} - {% endif %}Bugzilla</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="keywords" content="bugzilla bug track tracking enterprise solution">
  <link rel="icon" href="/favicon.ico" type="image/ico">
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-dark.css" media="(prefers-color-scheme: dark)">
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
</head>
