.navbar-dark.bg-bugzilla form[role="search"] {
  color: rgb(70, 71, 72);
}

.footer {
  background-color: rgb(255, 255, 255);
}

pre.highlight, code {
  background-color: $gray-100;
  color: $body-color;
  border: 1px solid $gray-200;
}

pre code {
  border: none;
  margin: none;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm,
.highlight .cpf, .highlight .c1, .highlight .cs, .highlight .kt,
.highlight .no, .highlight .nc, .highlight .nd, .highlight .bp,
.highlight .ne, .highlight .gi, .highlight .cp, .highlight .ni,
.highlight .w, .highlight .go, .highlight .gl, .highlight .gt {
  color: slategray;
}
.highlight .err {
  background-color: $red;
}
.highlight .gr, .highlight .gd {
  color: $red;
}
.highlight .kd, .highlight .kv, .highlight .nb {
  color: #07a;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm,
.highlight .c1, .highlight .cs, .highlight .ge, .highlight .gr,
.highlight .cpf, {
  font-style: italic;
}
.highlight .m, .highlight .mb, .highlight .mh,
.highlight .mi, .highlight .il, .highlight .mo, .highlight .mx,
.highlight .ld, .highlight .ss, .highlight .kc {
  color: #905;
}
.highlight .s, .highlight .sa, .highlight .sb, .highlight .dl,
.highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx,
.highlight .s1, .highlight .mf {
  color: #690;
}
.highlight .o {
  color: #9a6e3a;
}
.highlight .fm, .highlight .py, .highlight .na, .highlight .vc,
.highlight .vg, .highlight .vi, .highlight .nv, .highlight .vm,
.highlight .gp, .highlight .sr, .highlight .kn, .highlight .kp,
.highlight .kr, .highlight .gh, .highlight .gu, .highlight .nl,
.highlight .nt {
  color: #e90;
}

.highlight .nf {
  color: #DD4A68;
}

blockquote {
  border-left: 0.25rem solid $gray-400;
  background: $gray-100;
}
