html {
  height: 100%;
}

html,
body {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

svg {
  fill: currentColor;
}

main {
  margin-bottom: auto;
}

.navbar-brand {
  padding:0;
}

.bg-bugzilla {
  background: linear-gradient(to left, rgb(0, 92, 153), rgb(146, 72, 200));
  color: white;
}

table {
  @extend .table;
  @extend .table-striped;
  @extend .table-bordered;
}

.navbar-dark:not(.bg-bugzilla) .form-control, .navbar-dark:not(.bg-bugzilla) .input-group-text {
  color: rgb(240, 241, 242);
  background-color: rgb(70, 71, 72);
  border: $input-border-width solid rgb(70, 71, 72);
}

form[role="search"] .icon {
  display: flex;
  font-size: 20px;
  line-height: 1;
  font-family: 'Material Icons';
  pointer-events: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 4px;
  width: 24px;
  height: 24px;
}

form[role="search"] {
  position: relative;
}

.navbar-dark:not(.bg-bugzilla) form[role="search"] {
  color: rgb(240, 241, 242);
}

form[role="search"] .icon::before {
  content: '\E8B6';
}

form[role="search"] .form-control {
  padding: 0 8px 0 32px;
}

.profile p {
  margin: 0;
  display: inline;
}

.profile .photo {
  max-width: 6rem;
}

pre.highlight {
  margin: 0;
  padding: 0.5rem;
}
.highlight, code {
  border-radius: 4px;
}

code {
  padding: 0.125rem 0.25rem;
}

#header-logo, #header-name {
  transition: 0.1s;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.fixed-top-padding {
  padding-top: 112px;
}

blockquote {
  padding: 1rem;
  padding-bottom: 0;
  border-radius: 0.125rem;
}
