@font-face {
  font-family: 'FiraGO';
  font-style: normal;
  font-weight: normal;
  src: local('FiraGO Book'), url('../fonts/FiraGO-Book.woff2?v=1.001') format('woff2');
}

@font-face {
  font-family: 'FiraGO';
  font-style: italic;
  font-weight: normal;
  src: local('FiraGO Book Italic'), url('../fonts/FiraGO-BookItalic.woff2?v=1.001') format('woff2');
}

@font-face {
  font-family: 'FiraGO';
  font-style: normal;
  font-weight: 500;
  src: local('FiraGO Medium'), url('../fonts/FiraGO-Medium.woff2?v=1.001') format('woff2');
}

@font-face {
  font-family: 'FiraGO';
  font-style: italic;
  font-weight: 500;
  src: local('FiraGO Medium Italic'), url('../fonts/FiraGO-MediumItalic.woff2?v=1.001') format('woff2');
}

@font-face {
  font-family: 'FiraGO';
  font-style: normal;
  font-weight: bold;
  src: local('FiraGO SemiBold'), url('../fonts/FiraGO-SemiBold.woff2?v=1.001') format('woff2');
}

@font-face {
  font-family: 'FiraGO';
  font-style: italic;
  font-weight: bold;
  src: local('FiraGO SemiBold Italic'), url('../fonts/FiraGO-SemiBoldItalic.woff2?v=1.001') format('woff2');
}

@font-face {
  font-family: 'Noto Mono';
  font-style: normal;
  font-weight: normal;
  src: local('Noto Mono'), url('../fonts/NotoMono-Regular.woff2?v=1.00') format('woff2');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/MaterialIcons-Regular.woff2') format('woff2');
}
